<div class='col-xs-3 nar'><div class='panel panel-info'>
  <div class='panel-heading'>昨日</div>
    <div class='panel-body'>
      <img src='<%= @yesterday.icon %>' /><br />
      <span class='max'><%= @yesterday.max %></span><br />
      <span class='min'><%= @yesterday.min %></span>
    </div>
  </div>
</div>

<div class='col-xs-6 nar'><div class='panel panel-primary'>
  <div class='panel-heading'>今日（<%= (Date.today).strftime("%-m月%-d日") %>）</div>
    <div class='panel-body'>
      <div class='row'>
        <div class='col-xs-7'>
          <img src='<%= @daily[0].icon %>' /><br />
          <span class='prec'><img src='/image/img02.png' class='prec-icon'/><%= @daily[0].prec %></span>
        </div>
        <div class='col-xs-5'>
          <span class='max'><%= @daily[0].max %></span><br />
          <span class='min'><%= @daily[0].min %></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='col-xs-3 nar'><div class='panel panel-info'>
  <div class='panel-heading'>明日</div>
    <div class='panel-body'>
      <img src='<%= @daily[1].icon %>' /><br />
      <span class='max'><%= @daily[1].max %></span><br />
      <span class='min'><%= @daily[1].min %></span>
    </div>
  </div>
</div>
