<h1>お天気アプリ</h1>

<div class='panel panel-default' style='margin: 10px;'>
<div class='panel-heading'>

<form>
  <select id='p' class='form-control' style='margin: 5px;'>
  <% @pref_list.each do |pref| %>
    <option value='<%= pref %>'><%= pref %></option>
  <% end %>
  </select>
  <select id='c' style='margin: 5px;' class='form-control'>
    <option>未選択</option>
  </select>
</form>
<form style='margin-top: 8px;'>
  <input type='button' value='現在地を取得' id='loc' style='border-radius: 4px;' />
</form>
<script>
  function addCities(){
    $.getJSON('https://geoapi.heartrails.com/api/json?jsonp=?',
      {
        method: 'getCities',
        prefecture: p.value
      }
    )
    .done(function(data) {
      if (data.response) {
        var result = data.response.location;
        for(var i=0;i<result.length;i++){
          let op = document.createElement("option");
          op.value= result[i].city;
          op.text = result[i].city;
          document.getElementById("c").appendChild(op);
        }
      } else {
        window.alert("APIの接続に失敗しました。");
      }
    });
  }

  $(function() {
  $("#loc").click(function() {
    if ( navigator.geolocation ){
        navigator.geolocation.getCurrentPosition(
        function(position){
          coord = position.coords.latitude + ',' + position.coords.longitude;
          window.location.href='../coord,' + coord;
        },
        function(err){
          window.alert("位置情報が取得できませんでした。\n(" + err.code + "," + err.message + ")");
        },
        {
          "enableHighAccuracy": false,
          "timeout": 8000,
          "maximumAge": 2000
        }
      );
    } else {
      window.alert('位置情報が取得できないブラウザです。');
    }  
  });

  $('#p').change(function() {
    sl = document.getElementById('c');
    while(sl.lastChild){ sl.removeChild(sl.lastChild); }
    op = document.createElement("option");
    op.value = '未選択';
    op.text = '未選択';
    document.getElementById("c").appendChild(op);
    addCities();
  });

  $('#c').change(function() {
    if (c.value != '未選択') {window.location.href='./city,' + p.value + ',' + c.value;} 
  });
  $("#p").val(<%= "#{@pref}".to_json.html_safe %>);
  addCities();

  $(window).load(function() {
    $("#c").val(<%= "#{@city}".to_json.html_safe %>);
  });
});

</script>
<br />

</div>
<div class='panel-body'>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-7'>
      <div class='container-fluid'>
        <div class='row main'>
          <div class='col-xs-3 nar'><div class='panel panel-info'>
            <div class='panel-heading'>昨日</div>
            <div class='panel-body'>
              <img src='<%= @yest[:icon] %>' /><br />
              <span class='max'><%= @yest[:max] %></span><br />
              <span class='min'><%= @yest[:min] %></span>
            </div>
          </div></div>
          <div class='col-xs-6 nar'><div class='panel panel-primary'>
            <div class='panel-heading'>今日（<%= (Date.today).strftime("%-m月%-d日") %>）</div>
            <div class='panel-body'>
              <div class='container-fluid'><div class='row'>
                <div class='col-xs-7'>
                  <img src='<%= @list[0][:icon] %>' /><br />
                  <span class='prec'><img src='/image/img02.png' class='prec-icon'/><%= @list[0][:prec] %></span>
                </div>
                <div class='col-xs-5'>
                  <span class='max'><%= @list[0][:max] %></span><br />
                  <span class='min'><%= @list[0][:min] %></span>
                </div>
              </div></div>
            </div>
          </div></div>
          <div class='col-xs-3 nar'><div class='panel panel-info'>
            <div class='panel-heading'>明日</div>
            <div class='panel-body'>
              <img src='<%= @list[1][:icon] %>' /><br />
              <span class='max'><%= @list[1][:max] %></span><br />
              <span class='min'><%= @list[1][:min] %></span>
            </div>
          </div></div>
        </div>
        <div class='row weekly'>
          <% (0..6).each do |i| %>
          <div class='panel panel-default week'>
            <div class='panel-heading'><%= (Date.today + i).strftime("%-m/%-d") %></div>
            <div class='panel-body'><img src='<%= @list[i][:icon] %>' /><br />
            <span class='max'><%= @list[i][:max] %></span><br />
            <span class='min'><%= @list[i][:min] %></span></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class='col-sm-5'>
      <div><span class='prec'><img src='/image/img02.png' class='prec-icon'/><%= @graph.values[0] * 100 %>%</span>（<%= Time.now.strftime("%-m/%-d %-H:00") %>）</div>
      <canvas id='myChart' height='200' style='margin-top: 10px;'></canvas>
      <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
            labels: <%= @graph.keys.to_json.html_safe %>,
            datasets: [{
              label: "降水確率",
              data: <%= @graph.values.map{|v| v*100} %>,
              backgroundColor: 'rgba(66, 139, 202, 1.0)',
              borderColor: 'rgba(66, 139, 202, 1.0)',
              fill: false
            }]
          },
          options: {
            title:  {
              display: false,
              text: "タイトル"
            },
            scales: {
              xAxes: [{
                display: true,
                stacked: false,
                gridLines: {
                  display: false
                }
              }],
              yAxes: [{
                gridLines: {
                  drawBorder: false
                },
                ticks: {
                  beginAtZero: true,
                  max: 100
                }
              }]
            },
            legend: {
              display: false
            }
          }
        });
      </script>
    </div>
  </div>
</div>

</div>
</div>
