<div class='row'>
  <form>
    <select id='p' class='form-control' style='margin: 5px;'>
    <% @pref_list.each do |pref| %>
      <option value='<%= pref %>'><%= pref %></option>
    <% end %>
    </select>
    <select id='c' style='margin: 5px;' class='form-control'>
      <option>未選択</option>
    </select>
  </form>
  <form style='margin-top: 8px;'>
    <input type='button' value='現在地を取得(使用不可)' id='loc' style='border-radius: 4px;' />
  </form>
  <script>
    $(function() {
    $("#p").val(<%= "#{@pref}".to_json.html_safe %>);
    addCities();

    $(window).load(function() {
      $("#c").val(<%= "#{@city}".to_json.html_safe %>);
    });
  });
  </script>
  <br />
</div>
<div class='row'>
  <div class='col-sm-7'>
    <div class='row main'>
      <%= render 'main' %>
    </div>
    <div class='row'>
      <%= render 'weekly' %>
    </div>
  </div>
  <div class='col-sm-5'>
    <%= render 'prec' %>
  </div>
</div>

