<h1>お天気アプリ</h1>

<div class='panel panel-default' style='margin: 10px;'>
<div class='panel-heading'>

<form>
  <select name='area' class="form-control">
    <option value=''>東京</option>
  </select>
<form><br />

</div>
<div class='panel-body'>

<div class='container-fluid'>
  <div class='row'>
  <div class='col-sm-7'>
    <div class='container-fluid'>
      <div class='row main'>
        <div class='col-sm-3'><div class='panel panel-info'>
          <div class='panel-heading'>昨日</div>
          <div class='panel-body'>
            <img src='/icon/01d.png' /><br />
            <span class='max'>100℃</span><br />
            <span class='min'>0℃</span>
          </div>
        </div></div>
        <div class='col-sm-6'><div class='panel panel-primary'>
          <div class='panel-heading'>今日（<%= (Date.today).strftime("%m月%d日") %>）</div>
          <div class='panel-body'>
            <img src='<%= @icon %>' /><br />
            <span class='max'><%= @temp_max %></span><br />
            <span class='min'><%= @temp_min %></span>
          </div>
        </div></div>
        <div class='col-sm-3'><div class='panel panel-info'>
          <div class='panel-heading'>明日</div>
          <div class='panel-body'>
            <img src='/icon/01d.png' /><br />
            <span class='max'>100℃</span><br />
            <span class='min'>0℃</span>
          </div>
        </div></div>
      </div>
    </div>
  </div>
  <div class='col-sm-5'>
    <p>Rain prediction here.</p>
  </div>
  </div>
</div>

<div id='weekly'>
  <div class='container-fluid'><div class='row weekly'>
    <% (0..4).each do |i| %>
    <div class='col-sm-1'><div class='panel panel-default'>
      <div class='panel-heading'><%= (Date.today + i).strftime("%m/%d") %></div>
      <div class='panel-body'><img src='<%= @list[i][:icon] %>' /><br />
      <span class='max'><%= @list[i][:temp_max] %></span><br />
      <span class='min'><%= @list[i][:temp_min] %></span></div>
    </div></div>
    <% end %>
    <div class='col-sm-5'></div>
</div>

</div>
</div>

